body {
  background-color: #9ecdc3;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  margin: 0;
  color: #4169e1;
}

.language__box {
  position: absolute;
  top: 15px;
  right: 65px;
  border-radius: 20px;
  padding: 5px;
  background-color: #f0f0f0;
  display: flex;
  gap: 5px;
  z-index: 10;
  transition: background-color 2.7s ease;
  z-index: 9999;
}

.language__box-switch {
  transition: 0.4s ease;
}

.language__box-switch:hover {
  background-color: #d0d0d0;
  border-radius: 15px;
  transition: 0.4s ease;
}

.endgame-cross button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 52px;
  transform: translateY(-20%);
  color: #4169e1;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  background-color: transparent;
  transition: color 0.3s ease, transform 0.3s ease;
  z-index: 9999;
}

.endgame-cross button:hover {
  color: #ff5900;
  transform: translateY(-30%);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  position: relative;
  background-color: white;
  width: 700px;
  height: 650px;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

//Question button and modal

.question__button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 20px;
  background-color: #4169e1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  color: #ff5900;
  font-weight: 800;
  font-size: 46px;
  z-index: 9999;
}

.question__button:hover {
  transform: scale(1.2);
  background-color: #ff5900;
  color: #4169e1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  max-width: 700px;
  max-height: 600px;
  border-radius: 30px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25), 0 6px 20px rgba(0, 0, 0, 0.25);
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

.modal__closebutton {
  position: absolute;
  top: 0px;
  right: 35px;
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #4169e1;
  font-weight: 900;
  z-index: 100;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.modal__closebutton:hover {
  color: #ff5900;
  transform: rotate(90deg);
}

.modal__content {
  padding: 20px;
  font-size: 28px;
  overflow-y: auto;
  line-height: 130%;
}

// INTRO SECTION

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  box-sizing: border-box;

  &__1row {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    max-height: 126px;
  }

  &__title {
    text-align: center;
    font-size: 48px;
    color: #4169e1;
    max-width: 400px;
    transition: color 0.3s ease;
  }

  &__2row {
    margin-bottom: 40px;
    text-align: center;

    &-townimg {
      border-radius: 20px;
      transition: transform 0.3s ease;
      max-width: 100%;
    }

    &-townimg:hover {
      transform: scale(1.05);
    }
  }

  &__3row-button {
    background-color: #ff5900;
    color: #4169e1;
    border-radius: 20px;
    font-size: 84px;
    font-weight: 800;
    opacity: 0.9;
    max-width: 500px;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
    padding: 0 80px;
  }

  &__3row-button:hover {
    background-color: #4169e1;
    color: white;
    transform: translateY(-10px);
  }
}
.intro__kid-img {
  margin-top: 20px;
}
// FACTS

.facts {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  height: calc(100% - 80px);
  padding: 0 30px 30px;
  box-sizing: border-box;
  position: relative;
  align-items: flex;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0;

    &-title {
      font-size: 32px;
    }

    &-text {
      font-size: 22px;
      line-height: 120%;
      width: 90%;
      border-radius: 30px;
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.4);
      background-color: white;
      padding: 20px;
      margin-bottom: 30px;
      transition: box-shadow 0.3s ease;
    }

    &-text:hover {
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    }

    &-img img {
      width: 400px;
      height: 200px;
      border-radius: 10px;
      transition: transform 0.3s ease;
    }

    &-img img:hover {
      transform: scale(1.1);
    }
  }

  &__button-box {
    width: 100%;
  }
}

.prev, .next {
  position: absolute;
  bottom: 30px;
  background-color: #22dd76;
  width: 180px;
  height: 40px;
  border-radius: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  flex-grow: 1;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.55), 0 6px 20px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.prev {
  left: 30px;
  background-color: #da0a0a;
}

.next {
  right: 30px;
}

.prev:hover {
  transform: scale(1.05);
}

.next:hover {
  background-color: #22cc66;
  transform: scale(1.05);
}

.btn-text {
  color: white;
  font-weight: 800;
  font-size: 24px;
}

.quiz {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 80px);
  padding: 0 30px 30px;
  box-sizing: border-box;
  position: relative;
  align-items: flex;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0;

    &-title {
      text-align: center;
      font-size: 32px;
      margin-bottom: 100px;
    }

    &-question {
      position: relative;
      font-size: 22px;
      line-height: 120%;
      width: 90%;
      border-radius: 30px;
      box-shadow:
        0 15px 20px 0 rgba(0, 0, 0, 0.4),
        0 6px 20px 0 rgba(0, 0, 0, 0.4);
      background-color: white;
      padding: 30px 20px;
      margin-bottom: 30px;

      &-kid {
        position: absolute;
        top: -80px;
        left: calc(50% - 40px);
        width: 80px;
      }
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 10px;
    text-align: center;

    &-title {
      font-size: 60px;
      margin-bottom: 20px;
    }

    &-text {
      font-size: 48px;
      margin-bottom: 100px;
    }
    &-button {
      background-color: #ff5900;
      color: #4169e1;
      border-radius: 20px;
      font-size: 56px;
      font-weight: 800;
      padding: 20px;
      opacity: 0.9;
      max-width: 500px;
    }
  }
}

.quiz__button-true {
  position: absolute;
  bottom: 50px;
  right: 100px;
  background-color: #da0a0a;
  border-radius: 25px;
  padding: 10px 40px;
  color: white;
  font-size: 32px;
  flex-grow: 1;
  box-shadow:
    0 15px 20px 0 rgba(0, 0, 0, 0.55),
    0 6px 20px 0 rgba(0, 0, 0, 0.55);
  font-weight: 900;
  max-width:180px;
}

.quiz__button-false {
  position: absolute;
  bottom: 50px;
  left: 100px;
  background-color: #3ad680;
  color: white;
  font-size: 32px;
  border-radius: 25px;
  padding: 10px 40px;
  flex-grow: 1;
  box-shadow:
    0 15px 20px 0 rgba(0, 0, 0, 0.55),
    0 6px 20px 0 rgba(0, 0, 0, 0.55);
  font-weight: 900;
  max-width: 180px;
}


.quiz__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.quiz__overlay.show {
  opacity: 1;
}

.quiz__overlay .icon img {
  width: 100px;
  height: 100px;
  opacity: 0;
  transform:  scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.quiz__overlay .icon.correct img.show,
.quiz__overlay .icon.incorrect img.show {
  opacity: 1;
  transform: translateY(-80px) scale(1);
}

.quiz__overlay .icon img {
  width: 100px;
  height: 100px;
  opacity: 0;
  transform: translateY(-20px) scale(0.8) rotate(-15deg);
  animation: none;
}

.quiz__overlay .icon img.show {
  opacity: 1;
  animation: iconShow 0.8s ease-out forwards;
}



@keyframes iconShow {
  0% {
    opacity: 0;
    transform: translateY(-120px) scale(0.8) rotate(-15deg);
  }
  50% {
    opacity: 1;
    transform: translateY(-100px) scale(1.1) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: translateY(-80px) scale(1) rotate(0);
  }
}


@media (max-width: 768px) {
  .facts__content-img {
    display: none;
  }
  .prev, .next {
    max-width: 150px;
  }
  .quiz__button-true {
    right: 10px;
  }

  .quiz__button-false {
    left: 10px;
  }

  .quiz__result-text {
    margin-bottom: 20px;
  }
}
@media (max-height: 700px) {
  .app {
    height: 100%;
    max-height: 100vh;
    padding: 10px;
  }
  .intro {
    margin-top: 100px;
  }
  .facts, .quiz {
    padding: 10px;
    margin-top: 50px;
  }

  .modal {
    height: auto;
    max-height: 90vh;
  }

  .modal__content {
    font-size: 18px;
    line-height: 120%;
  }
.intro__2row-townimg {
  max-width: 90%;
}
  .intro__3row-button {
    font-size: 40px;
    padding: 10px 80px;
  }
  .facts__content-text {
    margin-bottom: 0;
  }
  .facts__content-img {
    text-align: center;
  }
  .facts__content-img img {
    max-width: 320px;
    max-height: 320px;
  }
  .prev, .next {
    bottom: -30px;
  }
}

@media (max-width: 480px) {

  .app {
    max-width: 100%;
  };
.facts, .intro, .quiz {
  max-width: 100%;
  padding: 5px;
  margin-top: 90px;
}
.intro {
  margin-top: 40px;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;
  height: calc(100% - 90px);
  padding: 40px 0;
  gap: 0;
}
.intro__kid-img {
  display: none;
}
  .intro__title {
    font-size: 42px; 
    max-width: 100%;
  }
.intro__2row-townimg {
  max-width: 100%;
  height: 110px;
}
  .intro__3row-button {
    font-size: 50px; 
    padding: 20px 70px;
  }

  .question__button {
    width: 40px;
    height: 40px;
    font-size: 30px; 
  }

  .question__button:hover {
    transform: scale(1.05); 
  }

  .modal__content {
    font-size: 18px;  
  }
.facts__content-text {
  margin-bottom: 10px;
}
.prev {
  bottom: 20px;
  left: 20px;
}
.next {
  bottom: 20px;
  right: 20px;
}.quiz__button-true, .quiz__button-false {
  font-size: 20px;
  padding: 15px 35px;
  width: 160px;
}
}

